body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    /* overflow: hidden; */
    font-family: 'Lato';
}

.body-wrapper {
    background: #C8E1F7;
    padding: 3em 0;
}

.booking-cards {
    display: flex;
    justify-content: space-around;
}

.booking-card {
    border-radius: 25px;
    width: 350px;
    padding: 2em;
    background: white;
}

.booking-menu-button div {
    height: 4px;
    background: #202E4E;
    border-radius: 5px;
}

.booking-menu-button div:first-of-type {
    width: 30px;
}

.booking-menu-button div:last-of-type {
    margin-top: 5px;
    width: 15px;
}

.booking-menu-button {
    margin-bottom: 2em;
    margin-left: auto;
    width: 30px;
    cursor: pointer;
}

.booking-heading {
    margin: 0;
    margin-bottom: 1.5em;
    color: #1A2748;
    font-size: 2em;
}

.booking-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.booking-btn {
    cursor: pointer;
    border-radius: 15px;
    padding: 0.9em 2em;
    border: 1px solid;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
}

.booking-btn.primary {
    background: #FFBF5E;
    margin-right: 1em;
    border-color: #FFBF5E;
}

.booking-btn.secondary {
    background: transparent;
    margin-right: 1em;
    border-color: gainsboro;
}

.booking-btn.block {
    background: #2F9CF1;
    color: white;
    border-color: #2F9CF1;
    width: 100%;
}

.booking-input-group {
    position: relative;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 0.7em;
    height: 60px;
    display: flex;
    align-items: center;
}

.booking-input-group .icon {
    position: absolute;
    background: #EDF8FF;
    padding: 0.8em;
    border-radius: 10px;
    color: #2F9CF1;
    pointer-events: none;
}

.booking-input-group input {
    border: none;
    padding-left: 4.1em;
    font-weight: bold;
    color: #1A2748;
    height: 58px;
    width: 100%;
}

.booking-input-group input:focus {
    outline: none;
}

.sub-heading {
    margin-top: 1em;
}

.place-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.place-icon {
    background: #F9F7F1;
    padding: 0.8em;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.place-number {
    color: grey;
    margin-top: 0.4em;
}

.place-name {
    font-weight: bold;
}

.booking-card.card2 {
    background: url('./cardbg.png') no-repeat;
    background-size: 100%;
    position: relative;
}

.card2-content {
    background: white;
    border-radius: 25px;
    padding: 2em;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.place-item.place-right {
    justify-content: flex-start;
    margin-bottom: 7em;
}

.place-item.place-right .place-content {
    margin-left: 2em;
}

.place-score {
    background: #F9F7F1;
    border-radius: 11px;
    overflow: hidden;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
}

.place-item.place-right .place-img {
    margin-bottom: 0.7em;
}

.place-score .score {
    border-radius: 50%;
    border: 2px solid #FFBF5E;
    text-align: center;
    font-size: 0.8em;
    width: 40px;
    height: 39px;
    line-height: 40px;
    box-shadow: 0 0 0px 3px #FEE5BE;
    font-weight: bold;
}

.props {
    background: #1D4382;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 25px;
    padding: 2em;
    color: white;
    display: flex;
    justify-content: space-between;
}

.booking-btn.properties {
    background: #FFFFFF;
    color: #355992;
}

.props-number {
    font-weight: bold;
    font-size: 2em;
}

.back-button {
    color: #202E4E;
    font-size: 1.7em;
    position: absolute;
    margin-top: -10px;
}


.money-container {
    width: 1000px;
    margin: 2em auto;
}

.hero-section {
    background-color: #461025;
    padding: 3em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.play-content {
    font-size: 30px;
}

.top10 {
    margin-right: 5em;
}

.icon-content {
    height: 12px;
    width: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;    
}

.heading {
    margin-top: 4em;
    margin-bottom: 2em;
}

.main-heading {
    font-size: 80px;
    margin: 0;
    color: #DD624B;
    font-weight: 300;
}

.secondary-heading {
    font-size: 50px;
    margin: 0;
    color: white;
    font-weight: 300
}

.secondary-section {
    display: flex;
    background-color: #FA6243;
    padding-top: 5px;
    justify-content: space-between;
}

.circle {

    padding: 15px 0;
    display: flex;
}

.first-circle {
    background-color: #0161B1;
    width: 100px;
    height: 200px;
    border-radius: 0px 100px 100px 0px;
    -webkit-border-radius: 0px 100px 100px 0px;
    -moz-border-radius: 0px 100px 100px 0px;
    -ms-border-radius: 0px 100px 100px 0px;
    -o-border-radius: 0px 100px 100px 0px;
}

.second-circle {
    background-color: #461025;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.third-circle {
    background-color: #FFCE36;
    width: 100px;
    height: 200px;
    border-radius: 0px 100px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-circle {
    background-color: #F2EEE4;
    width: 100px;
    height: 200px;
    border-radius: 0px 100px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percent {
    font-size: 60px;
    padding: 68px 52px;
    background-color: #461025;
    color: white;

}


.highlight {
    margin-right: 1.4em;
    color: orangered;
}

.icons {
    font-size: 25px;

}

.first {
    color: #DD624B;
}

.progressbar {
    width: 100%;
    height: 4px;
    background-color: white;
    margin-top: 0.5em;
}

.completed {
    width: 25%;
    height: 4px;
    background-color: orangered;
}

.navbar a {
    text-decoration: none;
    color: white;
}